{
  "trailingComma": "es5",
  "tabWidth": 2,
  "experimentalTernaries": true,
  "semi": true,
  "printWidth": 180,
  "singleQuote": false,
  "bracketSpacing": true,
  "bracketSameLine": true,
  "overrides": [{ "files": ["*.json", "*.rc"], "options": { "printWidth": 80 } }]
}
