.note-box {
  color: rgba(0, 0, 0, 0.7);
  letter-spacing: 0.0178571429em;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
  padding: 0.5rem 1rem;
}
